html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #FFC857 50%, #FFF3C2 50%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #000;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.left_box {
  max-width: 200px;
  margin: 175px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.left_box > h2 {
  padding: 20px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.left-half {
  flex-grow: 1;
}

.right-half {
  flex-grow: 10;
}
.box {
  max-width: 650px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#completed_tasks {
  max-width: 470px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#completed_tasks > h2 {
  color: green;
  padding: 20px;
}
#heading {
  background-color: #FFC857;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #F1F1F1;
}

#todo-list {
  list-style: none;
  width: 100%;
  padding-right: 40px;
}

#completed-list {
  list-style: none;
}

.list_items {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.list_items_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.completed_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.completed_items > p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  flex-grow: 2;
}

input[type="checkbox"] {
  margin: 20px;
}

.list_items_div > p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  flex-grow: 2;
}

.task_all_buttons {
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
  border: none;
  background-color: #fff;
  width: auto;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

.completed_items > button {
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
  border: none;
  background-color: #fff;
  width: auto;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

form {
  text-align: center;
  margin-left: 20px;
}

.add_button {
  text-align: center;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #FFC857;
  color: #000;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

.c1_taskfunc > input[type="text"] {
  width: 150px;
}
 
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #fff;
}

#input-form {
  display: flex;
  flex-direction: column;
}

.task_functions {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
  width: 313px;
}

.c1_taskfunc { 
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

#category-list {
  list-style: none;
}

#category-list > li {
  padding: 10px 10px;
  margin-bottom: 8px;
  color: #555;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

#category-list li:hover {
  color: #007bff;
  cursor: pointer;
}

.category_name_in_task{
  font-weight: semibold;
  color: black;
  font-size: 15px;
}

.second_child_li { 
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

#categoryFilter{
  outline: auto;
  width: 110px;
  height: 17px;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 2px solid #000;
}

.Search_bar {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-bottom: 2px solid #000;
}

.Search_bar > input {
  text-align: center;
  flex-grow: 2;
}

.Search_bar > button {
  margin: 10px;
  width: 150px;
  height: 40px;
  flex-grow: 1;
}

.filters > * {
  margin-bottom: 10px;
  margin-top: 10px;
}

.club_sort_backlogs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sort {
  text-align: end;
  margin: 10px;
}

.backlogs {
  margin: 10px;
}

#toggleLogsBtn {
  margin-bottom: 15px;
  margin-left: 30px;
  padding: 8px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff; 
  color: #fff; 
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3; 
}


.subtasks-list {
  list-style: none;
}


